html{
    background-color: rgb(48, 139, 199);
}
*{  font-family: cursive;
    box-sizing: border-box;
}
.App{
    background-color: #fff;
    position: fixed;
    top:50px;
    left: 400px;
    right: 400px;
    bottom: 50px;
    box-shadow: 0 4px 8px 0 rgb(31, 66, 131) ;
    margin: 0 auto;
}
.title-heading{
    padding-top: 40px;
    text-align: center;
}
.title-heading h1{
    font-family: cursive;
    font-size: 3rem;
}
.todoList{

}
.form-input{
    text-align: center;
}
.form-input input{
    opacity: 0.5;
    border: 2px solid rgb(79, 79, 122);
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

.addbtn{
    color: #fff;
    background-color: rgb(74, 2, 141);
    width: 48px;
    height: 48px;
    border-radius: 10px;
    opacity: .4;
}
.active{
    opacity: 1;
}
.list{
    overflow-y: scroll;
    max-height: 200px;
    margin: 0 auto;
    width: 600px;
}
.list li{
    align-items: center;
    justify-content:space-between;
    display: flex;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.2rem;
    list-style: none;
    padding: 5px 20px;
    
}
.list span{ 
    height: 30px;
    background-color: cadetblue;
    border: 2px solid aquamarine;
    border-radius: 6px;
    cursor: pointer;
}
.list span:hover{
    color: #fff;
    background-color: crimson;
}
.footer{
    position: absolute;
    top:90%;
    left: 20%;
}
.footer span{
    font-size: 1.6rem;
    padding: 0 50px;
}
.footer button{
    height: 40px;
    background-color: blueviolet;
    border-radius: 10px;
}
.footer button:hover{
    pointer-events:auto;
    background-color: crimson;
    color: #fff;
}